<div class="navbar">
  <div class="nav-link nav-link-brand">
    <h1 [routerLink]="['/']">KarmaPAD</h1>
  </div>
  <div *ngIf="user" class="nav-link">
    <span>Logged as:</span><a [routerLink]="['/profile']"> {{user.username}}</a>   
  </div>
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
  <div class="nav-link nav-link-toggle">
    <button type="button" pButton icon="fa fa-fw fa-bars" (click)="menu.toggle($event)"></button>
  </div>
 
  <ul class="nav-items nav-items-right">
    <li *ngFor="let item of items" class="nav-link">
      <a *ngIf="item.routerLink" [routerLink]="item.routerLink">{{item.label}}</a>
      <a *ngIf="!item.routerLink" [routerLink]="['/login']" (click)="logout()">{{item.label}}</a>
    </li>
  </ul> 
</div>


