<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans" rel="stylesheet">


<app-navbar></app-navbar>
<div class="content">  
    <router-outlet></router-outlet>  
</div>
<app-footer></app-footer>
  


<!-- <body>
        <div class="content">
          <div class="content-inside">
            content
          </div>
        </div>
      <footer class="footer"></footer>
    </body>

  html, body {
    height: 100%;
    margin: 0;
  }
  .content {
    min-height: 100%;
  }
  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }
  .footer {
    height: 50px;
    margin-top: -50px;
  } -->