<div class="form-wrapper">
  <h2>Sign up</h2>

  <form (ngSubmit)="submitForm(form)" #form="ngForm" >

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      
      <span class="ui-float-label">
          <input id="float-input" name="username" type="text" [(ngModel)]="username" #usernameField="ngModel" size="30" pInputText required> 
          <label for="float-input"> <i class="fa fa-user"></i> Username</label>
      </span>        

      <span class="ui-float-label">
          <input name="password" type="password" [(ngModel)]="password" #passwordField="ngModel" size="30" pPassword required> 
          <label for="float-input"> <i class="fas fa-key"></i> Password</label>
      </span>        

    </div>
    
    <div class="field submit">
      <button pButton type="submit" label="Sign up" class="ui-button"></button>        
    </div>
  </form>
</div>


