<div class="form-wrapper">

  <p-toast [style]="{marginTop: '80px', backgroundColor: 'white'}" position="top-center" [baseZIndex]="5000"></p-toast>
  <h2>Create new text</h2>

  <form (ngSubmit)="submitText(form)" #form="ngForm" [ngClass]="{'is-processing': processing}">

      <div class="field" [ngClass]="{'has-error': feedbackEnabled && titleField.errors}">
        <span class="ui-float-label">
          <input id="float-input" name="title" type="text" [(ngModel)]="title" #titleField="ngModel" size="30" pInputText [disabled]="processing" required> 
          <label for="float-input"> Title</label>
        </span>              
      </div>

      <div class="field" [ngClass]="{'has-error': feedbackEnabled && bodyField.errors}">
        <textarea [rows]="5" [cols]="31" name="textBody" [(ngModel)]="textBody" #bodyField="ngModel" pInputTextarea autoResize="autoResize" placeholder="Put your text here" required></textarea>
      </div>
      
      <div class="field submit">
        <button pButton type="submit" (click)="showSuccess(form)" label="Send" class="ui-button" [disabled]="processing"></button>                
      </div>
  </form>

  <div *ngIf="feedbackEnabled && form.invalid">
      <p class="validation">The form has errors</p>    
    </div>

    <div *ngIf="feedbackEnabled && titleField.errors">
      <p *ngIf="titleField.errors.required" class="validation">Title required</p>      
    </div>
  
    <div *ngIf="feedbackEnabled && bodyField.errors">
      <p *ngIf="bodyField.errors.required" class="validation">Text body required</p>      
    </div>

</div>

