h2 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;  
}

.form-wrapper {
  margin: 10px auto;
  width: 350px;
  height: 240px;
  background-color: #88B04B;
  border: 1px solid #4BB073;
  border-radius: 5px;
}

.field span {
  margin: 20px;
}

.field label {
  font-family: 'Open Sans', sans-serif;
}

.field button {
  float: right;
}

.submit {
  width: 320px;
}