/* You can add global styles to this file, and also import other style files */

/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
  margin: 0;  
  padding: 80px 0 80px 0;
}

/* Custom fixes */

body a {
  color: #fff !important;
}

.break-word {
  word-break: break-all;
}

.content {
  min-height: calc(100vh - 80px);       
}

.text-center {
  text-align: center;
}

.cardButton {
  margin: 3px !important;
}

/* -- forms -- */

form {
  font-family: 'Open Sans', sans-serif;
  margin: 40px auto;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

.more-info {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 1px;
}

/* -- navbar -- */

h1 {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  color: #fff;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

a:hover {
  color: #33ff00 !important;
}

.navbar {
  background-color: #186ba0;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;  
}

.nav-link {
  padding-right: 8px;
}

.nav-items {
  display: flex;
}

.nav-items a {
  color: white;
  line-height: 1;
  margin: 1vw;
}

.nav-items-right {
  margin-left: auto;
}

.nav-link-toggle {
  display: none;
}

.nav-link-right {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .nav-items,
  .Navbar {
    flex-direction: column;
  }
  .nav-items {
    display: none;
  }
  .nav-items-right {
    margin-left:0;
  }
  .nav-toggle {
    display: flex;
  }
  .nav-link-toggle {    
    display: initial;
    position: absolute;
    cursor: pointer;
    right: 10px;
   } 
}

/* -- Pages -- */

h2 {
  font-family: 'Open Sans', sans-serif;  
  text-align: center;  
}

.form-wrapper {
  margin: 50px auto;
  width: 350px;
  height: 240px;  
  border-radius: 5px;
}

.form-wrapper p {
  font-family: 'Open Sans', sans-serif;
  color: red;
}

.form-wrapper h2 {      
  color: #fff;     
}

.field label {
  font-family: 'Open Sans', sans-serif;
}

.field button {
  float: right;
}

.field a {  
  text-decoration: none;
  font-weight: 800;
  color: #fff;  
}

.submit {
  width: 300px;
}

/* -- Footer -- */

.footer {
  width: 100%;  
  background-color: #186ba0;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  text-align: center;    
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul h3 {
  margin: 0;
  padding: 10px;
}

.footer ul li {
  list-style-type: none;
}