/* You can add global styles to this file, and also import other style files */

/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 0 0 80px 0;

}

.text-center {
  text-align: center;
}

/* -- forms -- */

form {
  font-family: 'Open Sans', sans-serif;
  margin: 40px auto;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

/* form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
} */

/* form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: cyan;
  cursor: pointer;
} */

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

.more-info {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 1px;
}