<h2>Text details</h2>
<div class="form-wrapper" *ngIf="text"> 
<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate>
  <p-card title="{{text.title}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="https://www.primefaces.org/primeng/assets/showcase/images/usercard.png">
    </p-header>
    <div>{{text.textBody}}</div>
    <p-footer>
      <button pButton type="submit" label="Analyze" icon="pi pi-check" class="ui-button"></button>
      <div class="ui-g">               
        <div class="ui-g-12 ui-md-6 ui-lg-4"><h4>Valoration:</h4> {{sentimentResult}}<span *ngIf="sentimentResult">%</span></div>
        <div class="ui-g-12 ui-lg-4"><h4>Language:</h4> {{languageResult}}</div>                
      </div>
    </p-footer>
  </p-card>
</form>
</div>

