<p-panel [toggleable]="true" [style]="{'margin-bottom':'20px'}">
  <p-header>
    <span [routerLink]="['/texts/',text._id]"  class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px" >{{text.title}}</span>
  </p-header>
  <p>
    {{text.textBody}}
  </p>
  <p-footer>      
    <button [routerLink]="['/texts/',text._id]" pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
    <button *ngIf="router.url != '/'" (click)="deleteText()" pButton type="button" icon="pi pi-times-circle" label="Delete" class="ui-button-danger"></button>
  </p-footer>
</p-panel>
